.side-nav__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .mat-sidenav {
    border: none;
    background-color: transparent;
    .side-nav__buttons {
      padding: 1rem;
      overflow: hidden;
      .side-nav__button {
        button {
          width: 100%;
        }
        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }
      }
    }
  }
  .mat-sidenav-content {
    background-color: rgb(228, 228, 228);
    .main-content__container {
      margin: 1rem;
      min-height: calc(100vh - 2rem - 68px);
    }
    .main-footer__container {
      position: sticky;
      bottom: 0;
      width: 100%;
      background-color: white;
      overflow: hidden;
    }
  }
}
