<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-sidenav-container class="side-nav__container">
  <mat-sidenav mode="side" opened>
    <div class="side-nav__buttons">
      <div class="side-nav__button" *ngFor="let navigation of navigations">
        <button [routerLink]="[navigation.path]" mat-raised-button>
          {{ navigation.name }}
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content__container">
      <router-outlet></router-outlet>
    </div>
    <div class="main-footer__container">
      <app-messages></app-messages>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
