<app-card [isPageCard]="true" [cardTitle]="'Heroes'">
  <div header-extra class="header-button__container">
    <button
      data-test-id="create-hero-button"
      routerLink="/hero/create"
      color="primary"
      mat-raised-button
    >
      Create Hero
    </button>
  </div>
  <div content>
    <div class="search__container">
      <mat-form-field
        appearance="outline"
        class="search-input__field"
        subscriptSizing="dynamic"
      >
        <input
          #heroSearch
          matInput
          placeholder="Search Hero..."
          [(ngModel)]="searchValue"
          (input)="handleSearch(heroSearch.value)"
        />
      </mat-form-field>
    </div>
    <app-table
      [dataSource]="heroes"
      [columns]="columns"
      [displayedColumns]="dataIndex"
    ></app-table>
  </div>
</app-card>
