.heroes {
  margin: 0 0 2rem 0;
  list-style-type: none;
  padding: 0;
  width: 15rem;
  li {
    display: flex;
    button {
      flex: 1;
      cursor: pointer;
      background-color: #eee;
      margin: 0.5rem;
      padding: 0;
      border: none;
      display: flex;
      border-radius: 16px 0 0 16px;
      &:hover {
        color: #2c3a41;
        background-color: #e6e6e6;
        left: 0.1rem;
      }

      &:active {
        background-color: #525252;
        color: #fafafa;
      }

      &.selected {
        background-color: black;
        color: white;
      }

      &.selected:hover {
        background-color: #505050;
        color: white;
      }

      &.selected:active {
        background-color: black;
        color: white;
      }
      .badge {
        font-size: small;
        color: white;
        padding: 0.8rem;
        min-width: 1.5rem;
        background-color: #405061;
        line-height: 1rem;
        margin-right: 0.8rem;
        border-radius: 16px 0 0 16px;
      }
      .name {
        align-self: center;
      }
    }
  }
}
